html, body {
  background: #F8F7FD; }

h1, h2, h3, h4, p, ul, a {
  color: #033500;
  font-family: "Josefin Slab", sans-serif; }

p {
  line-height: 1.25; }

header {
  height: 115%;
  width: 85%; }
  header .greeting {
    position: relative;
    top: 5%;
    left: 5%; }
  header .hello {
    position: relative;
    padding: 10px;
    margin: 0;
    text-align: center;
    position: relative;
    top: 75px;
    width: 30%;
    font-family: 'Sacramento', cursive;
    font-size: 8rem;
    font-weight: 700;
    font-style: italic;
    filter: drop-shadow(8px 8px 2px rgba(255, 153, 197, 0.75));
    transform: rotate(-15deg); }
  header h1 {
    position: relative;
    padding: 10px;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    left: 20px;
    width: 60%;
    font-size: 4.75rem; }
    header h1::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 55px;
      left: 200px;
      width: 50%;
      height: 35%;
      background: #FF99C5; }
  header h2 {
    position: relative;
    z-index: 1;
    top: 100px;
    font-size: 28px;
    text-align: center; }
    header h2::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 15px;
      left: 300px;
      width: 575px;
      height: 20px;
      background: #B0D39C; }

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  text-align: right;
  box-shadow: -3px 0 0 #6DA559; }
  nav ul {
    padding: 10px 25px;
    font-size: 30px;
    font-weight: 500; }
    nav ul a {
      position: relative;
      text-decoration: none; }
      nav ul a img:hover {
        transform: scale(1.1); }
  nav .hvr-underline {
    position: relaitve;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #F8F7FD;
    transition-property: color;
    transition-duration: 0.3s; }
    nav .hvr-underline::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 15px;
      right: -5px;
      width: 80%;
      height: 50%;
      background: rgba(255, 153, 197, 0.75); }
    nav .hvr-underline:hover {
      font-style: italic; }
      nav .hvr-underline:hover::before {
        background: #FF99C5;
        transform: scale(1.1); }

h3 {
  display: block;
  margin: auto;
  width: 80%;
  padding: 10px 0 10px 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  border-top: 2px solid #6DA559;
  border-bottom: 2px solid #6DA559; }

section {
  width: 85%;
  padding: 65px 0; }

#work {
  height: auto;
  margin-bottom: 50px; }
  #work .project {
    display: flex;
    width: 95%;
    margin: 100px auto; }
    #work .project:hover {
      transform: scale(1.01); }
    #work .project .project-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 60%; }
      #work .project .project-images .desktop {
        height: 256.5px;
        width: 450px;
        outline: black solid; }
      #work .project .project-images .mobile {
        height: 245px;
        width: 138px;
        outline: black solid; }
    #work .project .project-description {
      width: 40%;
      padding: 50px 20px; }
      #work .project .project-description h4 {
        text-align: center;
        font-size: 25px;
        font-style: italic; }
      #work .project .project-description p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px; }
  #work .project-1 {
    border-top: transparent;
    border-right: 30px solid #B0D39C;
    border-bottom: transparent;
    border-left: transparent;
    box-shadow: 0 0 5px #B0D39C; }
    #work .project-1:hover {
      box-shadow: 3px 3px 10px #B0D39C; }
  #work .project-2 {
    border-top: transparent;
    border-right: 30px solid rgba(255, 153, 197, 0.75);
    border-bottom: transparent;
    border-left: transparent;
    box-shadow: 0 0 5px rgba(255, 153, 197, 0.75); }
    #work .project-2:hover {
      box-shadow: 3px 3px 10px rgba(255, 153, 197, 0.75); }
  #work .project-3 {
    border-top: transparent;
    border-right: 30px solid #B0D39C;
    border-bottom: transparent;
    border-left: transparent;
    box-shadow: 0 0 5px #B0D39C; }
    #work .project-3:hover {
      box-shadow: 3px 3px 10px #B0D39C; }

#about img {
  border-radius: 50%; }

#contact .invitation {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  padding: 10px 0;
  font-size: 20px;
  text-align: center; }
  #contact .invitation .email {
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none; }
    #contact .invitation .email:hover {
      font-style: italic;
      text-decoration: underline; }
#contact .available {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  font-size: 22px;
  text-align: center; }
#contact .social-links {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  padding: 100px 0; }
  #contact .social-links .social-icon {
    width: 50px; }

#cssImages .codepen {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px; }

/*# sourceMappingURL=style.css.map */
