// Potential changes to make 9/18:
// Work section: increase size of desktop & mobile images and overlap, switch layer on hover but still keep transform: scale on hover





// color palette
$bg-1: #F8F7FD;
$bg-2: #B0D39C;
$bg-3: #6DA559;
$text-color: #033500;
$highlight-color: #FF99C5;
$lighter-highlight: rgba(255, 153, 197, .75);

// desktop version
// global styles
@mixin global-base() {
    html { background: $bg-1; }

    body { 
        display: grid; 
        grid-template-rows: 100vh auto auto;
        grid-template-columns: 85% auto;
        grid-template-areas: 
            "head sidebar"
            "main sidebar" 
            "foot foot";
        overflow-x: hidden;
        margin: -5px;
        padding: 5px;
    }

    h1, h2, h3, h4, p, ul, a { 
        color: $text-color; 
        font-family: "Josefin Slab", sans-serif;
    }

    p { line-height: 1.25; }
}

@mixin hover-transition() {
    transition: all 0.2s linear;
}

@mixin highlight($left, $height, $color) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: $left;
        bottom: 0;
        height: $height;
        width: 100%;
        background: $color;
    }
    
}

html {
    @include global-base();
}

// landing page
// hello + who i am
header {
    grid-area: head;
    height: 100%;

    .floating-box {
        // border-width: 1px;
        // border-style: solid;
        // border-image: linear-gradient($bg-1, $bg-3) 1 100%;
        // border-left: transparent;
        height: auto; 
        width: 75%;
        margin: 10% auto auto 15%;
        padding: 0;
        // box-shadow: 15px 15px 40px 5px $bg-3;
    }

    @mixin greeting() {
        position: relative;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    .greeting {
        position: relative;
        top: 5%;
        left: 5%;
        width: fit-content;

        .hello {
            @include greeting();
            position: relative;
            top: 75px;
            width: fit-content; 
            font-family: 'Sacramento', cursive; 
            font-size: 8rem;
            font-weight: 700;
            font-style: italic;
            filter: drop-shadow(8px 15px 2px $lighter-highlight);
            transform: rotate(-15deg);
        }

        h1 {
            @include greeting();
            position: relative;
            z-index: 1;
            top: 20px;
            left: 100px;
            width: fit-content;
            font-size: 4.75rem;
    
            .underline { @include highlight(20px, 45%, $highlight-color); }
        }
    }
    
    h2 {
        z-index: 1;
        margin: 100px auto 75px auto;
        font-size: 28px;   
        text-align: center; 
        
        .underline { @include highlight(20px, 45%, $bg-2); }
    }  

}

// main nav bar
nav {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    text-align: right;

    li {
        padding: 25px;
        font-size: 26px;
        font-weight: 500;
        list-style: none;

        a {
            position: relative;
            text-decoration: none;

            img {

                &:hover { 
                    @include hover-transition();
                    transform: scale(1.05);
                }
            }
        }
    }

    // main nav bar hover effect
    .hvr-underline {
        @include highlight(10px, 50%, $lighter-highlight);

        &:hover {
            @include hover-transition();
            font-style: italic;

            &::before {
                background: $highlight-color;
                transform: scale(1.1);
            }
        }
    }
    
}


// sections - global styles
main { 
    grid-area: main; 

    section {
        padding: 65px 0 65px 5px;

        h3 {
            display: block;
            margin: auto;
            width: 45%;
            padding: 0;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 5px;
            text-align: center;
            border-bottom: 2px solid $bg-3;
            // border-radius: 5px;
            // border-image: linear-gradient(to right, $text-color, $bg-1) 100;
        }  

        .section-container {
            margin: 0 30px 25px 30px;
            padding: 5px 0;
            // border-radius: 5px;
            // box-shadow: 0 3px 5px $text-color;
        }
    }
    
     // work section
     #work {
        margin-bottom: 50px;

        .project {
            display: flex;
            height: fit-content;
            width: 95%;
            margin: 5% auto;
            padding: 2.5% 0;
            border-bottom: 1px solid $text-color;
            // border-radius: 5px;
            // box-shadow: 0 3px 5px $text-color;

            // add hover function back in when I have projects and can link to a page in the site where it goes into deeper case study -- hover should only change clickable things
            // when adding this back in don't foget the box-shadow hover effect above under @mixin project-box-border() :hover
            // &:hover {
            //     @include hover-transition();
            //     transform: translateX(15px) translateY(-10px);
            //     box-shadow: -15px 10px 15px $text-color;
            // }

            .project-images {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 65%;
                margin: 2.5% 0;

                .desktop {
                    width: 90%;

                    &:hover { 
                        @include hover-transition();
                        // transform: scale(1.05); 
                    }
                }
            }

            .project-description {
                // border: black solid;
                width: 35%;
                padding: 5% 0;

                h4 {
                    text-align: center;
                    font-size: 25px;
                    font-style: italic;

                    span { @include highlight(10px, 45%, $lighter-highlight); }
                }

                p {
                    width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 18px;
                }

                .more {
                    font-style: italic;
                    text-align: center;

                    a {
                        text-decoration: none;

                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }
    }

    // about section
    #about {

        @mixin intro-outro($value1, $value2, $font-size) {
            width: 60%;
            margin: $value1 auto $value2 auto;
            text-align: center;
            font-size: $font-size;
        }
        .about-intro {
            // border: black solid;
            @include intro-outro(70px, 35px, 20px);   
            font-style: italic;
            font-weight: 600;         
        }

        .about-flex {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 95%;
            margin: 0 auto;

            p { line-height: 2;}

            .bold { 
                position: relative;
                z-index: 1;
                font-weight: 800; 

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 5px;
                    bottom: 0;
                    height: 8px;
                    width: 100%;
                    background: $lighter-highlight;
                }
            }
            
            .me-the-professional, .me-the-person {
                width: 350px;
                text-align: justify;
            }

            img { 
                border-radius: 50%; 
                margin: 0 15px;
            }
    
        }

        .about-thanks {
            @include intro-outro(50px, 100px, 18px);
        }
    }

    // contact section
    #contact {
        .invitation {
            width: 70%;
            margin: auto;
            margin-top: 100px;
            padding: 10px 0;
            font-size: 20px;
            text-align: center;

            .email {
                padding: 10px;
                font-style: normal;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    font-style: italic;
                    text-decoration: underline;
                }
            }
        }

        .available {
            width: 70%;
            margin: auto;
            margin-top: 5%;
            font-size: 22px;
            text-align: center;
        }

        .social-links {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            margin: auto;
            padding: 80px 0;

            .social-icon { width: 50px; }
        }
    }

    // css images section
    #cssImages {
        margin-bottom: 200px;

        p {
            font-size: 18px;
            font-style: italic;
            text-align: center;
        }

        .codepen {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 60px;

            .polaroid {
                border: solid $bg-3;
                padding: 15px 15px 75px 15px;
                box-shadow: 1px 1px 5px $text-color;

                &:hover {
                    @include hover-transition();
                    // transform: scale(1.05);
                    transform: translateY(-15px);
                    box-shadow: 0 15px 15px $text-color;
                }
            }

            img { border: solid $bg-3;}
        }
    }
}

// footer
footer {
    grid-area: foot;
    position: relative;       
    width: 100vw;
    margin: 150px 0 0 0;
    padding: 5px 0;
    text-align: center;
    background: $bg-2;

    p { line-height: 0.25 !important;}
}