// color palette
$bg-1: #F8F7FD;
$bg-2: #B0D39C;
$bg-3: #6DA559;
$text-color: #033500;
$highlight-color: #FF99C5;
$lighter-highlight: rgba(255, 153, 197, .75);

// desktop version

// global styles
html, body { background: $bg-1; }

h1, h2, h3, h4, p, ul, a { 
    color: $text-color; 
    font-family: "Josefin Slab", sans-serif;
}


// landing page
// hello + who i am
header {
    height: 115%;
    width: 85%;

    .greeting {
        // border: black solid;
        position: relative;
        top: 5%;
        left: 5%;
    }
    
    @mixin greeting() {
        position: relative;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    .hello {
        @include greeting();
        position: relative;
        top: 75px;
        width: 30%; 
        font-family: 'Sacramento', cursive; 
        font-size: 8rem;
        font-weight: 700;
        font-style: italic;
        filter: drop-shadow(8px 8px 2px $lighter-highlight);
        transform: rotate(-15deg);
    }

    h1 {
        @include greeting();
        position: relative;
        z-index: 1;
        left: 20px;
        width: 60%;
        font-size: 4.75rem;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 55px;
            left: 200px;
            width: 50%;
            height: 35%;
            background: $highlight-color;
        }
    }

    h2 {
        position: relative;
        z-index: 1;
        top: 100px;
        font-size: 28px;   
        text-align: center; 
        
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 15px;
            left: 300px;
            width: 575px;
            height: 20px;
            background: $bg-2;
        }
    }  

}

// main nav bar
nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    text-align: right;
    box-shadow: -3px 0 0 $bg-3;

    ul {
        padding: 10px 25px;
        font-size: 30px;
        font-weight: 500;

        a {
            position: relative;
            text-decoration: none;

            img {

                &:hover { 
                    transform: scale(1.1);
                }
            }
        }
    }

    //main nav bar hover effect
    .hvr-underline {
        position: relaitve;
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px $bg-1;
        transition-property: color;
        transition-duration: 0.3s;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 15px;
            right: -5px;
            width: 80%;
            height: 50%;
            background: $lighter-highlight;
        }

        &:hover {
            font-style: italic;

            &::before {
                background: $highlight-color;
                transform: scale(1.1);
            }
        }
    }
}


// work section
h3 {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 0 10px 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    border-top: 2px solid $bg-3;
    border-bottom: 2px solid $bg-3;
}

section {
    height: 100%;
    width: 85%;
    padding: 65px 0;
}

#work {
    // border: black solid;
    height: auto;
    margin-bottom: 50px;

    .project {
        display: flex;
        // height: 500px;
        width: 95%;
        margin: 100px auto;

        &:hover {
            transform: scale(1.01);
        }

        .project-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 60%;

            .desktop {
                height: 256.5px;
                width: 450px;
                outline: black solid;
            }

            .mobile {
                height: 245px;
                width: 138px;
                outline: black solid;
            }
        }

        .project-description {
            width: 40%;
            padding: 50px 20px;

            h4 {
                text-align: center;
                font-size: 25px;
                font-style: italic;
            }

            p {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                font-size: 18px;
            }
        }
    }

    @mixin project-box-border($color) {
        border-top: transparent;
        border-right: 30px solid $color;
        border-bottom: transparent;
        border-left: transparent;
        box-shadow: 0 0 5px $color;

        &:hover { box-shadow: 3px 3px 10px $color; }
    }
    .project-1 {
        @include project-box-border($bg-2);
    }

    .project-2 {
        @include project-box-border($lighter-highlight);
        // flex-direction: row-reverse;
    }

    .project-3 {
        @include project-box-border($bg-2);
    }

}

// about section 
#about {
    img {
        border-radius: 50%;
    }
}

