html {
  background: #F8F7FD; }

body {
  display: grid;
  grid-template-rows: 100vh auto auto;
  grid-template-columns: 85% auto;
  grid-template-areas: "head sidebar" "main sidebar"  "foot foot";
  overflow-x: hidden;
  margin: -5px;
  padding: 5px; }

h1, h2, h3, h4, p, ul, a {
  color: #033500;
  font-family: "Josefin Slab", sans-serif; }

p {
  line-height: 1.25; }

header {
  grid-area: head;
  height: 100%; }
  header .greeting {
    position: relative;
    top: 5%;
    left: 5%; }
    header .greeting .hello {
      position: relative;
      padding: 10px;
      margin: 0;
      text-align: center;
      position: relative;
      top: 75px;
      width: 30%;
      font-family: 'Sacramento', cursive;
      font-size: 8rem;
      font-weight: 700;
      font-style: italic;
      filter: drop-shadow(8px 8px 2px rgba(255, 153, 197, 0.75));
      transform: rotate(-15deg); }
    header .greeting h1 {
      position: relative;
      padding: 10px;
      margin: 0;
      text-align: center;
      position: relative;
      z-index: 1;
      left: 20px;
      width: 60%;
      font-size: 4.75rem; }
      header .greeting h1::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 55px;
        left: 200px;
        width: 50%;
        height: 35%;
        background: #FF99C5; }
  header h2 {
    position: relative;
    z-index: 1;
    top: 100px;
    font-size: 28px;
    text-align: center; }
    header h2::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 15px;
      left: 300px;
      width: 575px;
      height: 20px;
      background: #B0D39C; }

nav {
  grid-area: sidebar;
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  text-align: right; }
  nav .stick-to-top ul {
    padding: 10px 25px;
    font-size: 26px;
    font-weight: 500; }
    nav .stick-to-top ul a {
      position: relative;
      text-decoration: none; }
      nav .stick-to-top ul a img:hover {
        transition: all 0.2s linear;
        transform: scale(1.05); }
  nav .stick-to-top .hvr-underline {
    position: relaitve;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #F8F7FD;
    transition-property: color;
    transition-duration: 0.3s; }
    nav .stick-to-top .hvr-underline::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 15px;
      right: -5px;
      width: 80%;
      height: 50%;
      background: rgba(255, 153, 197, 0.75); }
    nav .stick-to-top .hvr-underline:hover {
      transition: all 0.2s linear;
      font-style: italic; }
      nav .stick-to-top .hvr-underline:hover::before {
        background: #FF99C5;
        transform: scale(1.1); }

main {
  grid-area: main; }
  main section {
    padding: 65px 0 65px 5px; }
    main section h3 {
      display: block;
      margin: auto;
      width: 80%;
      padding: 10px 0 10px 0;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 5px;
      text-align: center;
      border-bottom: 2px solid #6DA559; }
  main #work {
    height: auto;
    margin-bottom: 50px; }
    main #work .project {
      display: flex;
      width: 90%;
      margin: 100px auto; }
      main #work .project .project-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 65%; }
        main #work .project .project-images .desktop {
          height: 256.5px;
          width: 450px;
          outline: black solid; }
        main #work .project .project-images .mobile {
          height: 245px;
          width: 138px;
          outline: black solid; }
      main #work .project .project-description {
        width: 35%;
        padding: 50px 20px; }
        main #work .project .project-description h4 {
          text-align: center;
          font-size: 25px;
          font-style: italic; }
        main #work .project .project-description p {
          width: 85%;
          margin-left: auto;
          margin-right: auto;
          font-size: 18px; }
    main #work .project-1 {
      border-top: transparent;
      border-right: 30px solid #B0D39C;
      border-bottom: transparent;
      border-left: transparent;
      box-shadow: 0 0 5px #B0D39C; }
    main #work .project-2 {
      border-top: transparent;
      border-right: 30px solid rgba(255, 153, 197, 0.75);
      border-bottom: transparent;
      border-left: transparent;
      box-shadow: 0 0 5px rgba(255, 153, 197, 0.75); }
    main #work .project-3 {
      border-top: transparent;
      border-right: 30px solid #B0D39C;
      border-bottom: transparent;
      border-left: transparent;
      box-shadow: 0 0 5px #B0D39C; }
  main #about .about-intro {
    width: 60%;
    margin: 100px auto 45px auto;
    text-align: center;
    font-size: 20px;
    font-style: italic; }
  main #about .about-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px auto; }
    main #about .about-flex h4 {
      font-size: 16px;
      font-style: italic;
      text-align: center;
      line-height: 0.5; }
    main #about .about-flex p {
      line-height: 2; }
    main #about .about-flex .bold {
      position: relative;
      z-index: 1;
      font-weight: 800; }
      main #about .about-flex .bold::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 5px;
        bottom: 0;
        height: 8px;
        width: 100%;
        background: rgba(255, 153, 197, 0.75); }
    main #about .about-flex .me-the-professional {
      width: 350px;
      text-align: justify; }
    main #about .about-flex img {
      border-radius: 50%; }
    main #about .about-flex .me-the-person {
      width: 350px;
      text-align: justify; }
  main #about .about-thanks {
    width: 60%;
    margin: 75px auto 100px auto;
    text-align: center;
    font-size: 18px; }
  main #contact .invitation {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 10px 0;
    font-size: 20px;
    text-align: center; }
    main #contact .invitation .email {
      padding: 10px;
      font-style: normal;
      font-weight: 700;
      text-decoration: none; }
      main #contact .invitation .email:hover {
        font-style: italic;
        text-decoration: underline; }
  main #contact .available {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    font-size: 22px;
    text-align: center; }
  main #contact .social-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding: 80px 0; }
    main #contact .social-links .social-icon {
      width: 50px; }
  main #cssImages {
    margin-bottom: 200px; }
    main #cssImages p {
      font-size: 18px;
      font-style: italic;
      text-align: center; }
    main #cssImages .codepen {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-top: 60px; }
      main #cssImages .codepen .polaroid {
        border: solid #6DA559;
        padding: 15px 15px 75px 15px;
        box-shadow: 1px 1px 5px #033500; }
        main #cssImages .codepen .polaroid:hover {
          transition: all 0.2s linear;
          transform: translateY(-15px);
          box-shadow: 0 5px 10px #033500; }
      main #cssImages .codepen img {
        border: solid #6DA559; }

footer {
  grid-area: foot;
  position: relative;
  width: 100vw;
  margin: 150px 0 0 0;
  padding: 5px 0;
  text-align: center;
  background: #B0D39C; }
  footer p {
    line-height: 0.25 !important; }

/*# sourceMappingURL=style.css.map */
